<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825639128999-bivdbo7l6vufi5mp8lu4qv6s2nejq7qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825639128999-bivdbo7l6vufi5mp8lu4qv6s2nejq7qj</string>
	<key>API_KEY</key>
	<string>AIzaSyD_H9qIOUQ4zDuX7LcSHZJYRIsa10XSZG8</string>
	<key>GCM_SENDER_ID</key>
	<string>825639128999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>App.PushNotification</string>
	<key>PROJECT_ID</key>
	<string>lanthu31-3f1ae</string>
	<key>STORAGE_BUCKET</key>
	<string>lanthu31-3f1ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825639128999:ios:283441b2b5a0322d24b082</string>
	<key>DATABASE_URL</key>
	<string>https://lanthu31-3f1ae.firebaseio.com</string>
</dict>
</plist>